
     
<h1>Education</h1>
    <div class="row">
            <div class="col-sm-4" >
                    <div class="card">
                            <div class="container">
                              <h3><b>University of Mumbai </b></h3> 
                              <p>Thane, Mumbai | 2013 - 2016</p> 
                              <ul>
                                  <li>B.Sc in Information Technology</li>
                              </ul>
                            </div>
                          </div>      
            </div>
            <div class="col-sm-4" >
                    <div class="card">
                            <div class="container">
                              <h3><b>Maharashtra State Board</b></h3> 
                              <p>Thane, Mumbai | 2011 - 2013</p> 
                              <ul>
                                    <li>Higher Secondary Certificate(Class XII)</li>
                                </ul>
                            </div>
                          </div>      
            </div>
            <div class="col-sm-4" >
                    <div class="card">
                            <div class="container">
                              <h3><b>Maharashtra State Board</b></h3> 
                              <p>Thane, Mumbai | 2000 - 2010</p> 
                              <ul>
                                    <li>Secondary School Certificate(Class X)</li>
                                </ul>
                            </div>
                          </div>      
            </div>
    </div>