
<div class="jumbotron text-center">
        <h1>{{ about.name | uppercase}}</h1>
        <h2>{{about.title}}</h2>
        <p class="lead">{{about.description}}</p>
        <a href="https://in.linkedin.com/in/jayprakash-yadav-2b6759131" ><i class="fa fa-linkedin-square" title="Join Me Now!" style="font-size:24px;color:#283e4a"></i></a>
        <a href="https://in.linkedin.com/in/jayprakash-yadav-2b6759131" ><i class="fa fa-twitter-square" title="Join Me Now!" style="font-size:24px;color:steelblue"></i></a>
        <a href="https://github.com/mr-yadav235" ><i class="fa fa-github-square" title="Join Me Now!" style="font-size:24px;color:steelblue"></i></a>

        <div>
          <a class="btn btn-primary" [routerLink]="['/contact']">Hire Me!</a>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <h3>MEAN Stack Developer</h3>
          <p>I can build a Web Application complete from scratch from Client-side to Server-side, at Beginner level.</p>
        </div>
        <div class="col-md-4">
          <h3>RESTFUL API</h3>
          <p>Ability to create RESTFUL web services using Node.JS & Spring Boot</p>
        </div>
        <div class="col-md-4">
          <h3>Would like to know more?</h3>
          <a class="btn btn-primary" [routerLink]="['/experience']">Know More..</a>
        </div>
      </div>