<div class="card">
    <img src="https://ibb.co/g02YZd" alt="Intercont" style="width:100%">
    <div class="container">
      <h4><b>Intercont Freight Liners</b></h4> 
      <hr />
      <h4>Technology</h4>
    <ul>
      <li>Rest Api were developed using ASP.NET CORE 2.0</li>
      <li>Client Side architecture being developed using Angular 5</li>
    </ul> 
    <hr />
    <h4>Role</h4>
    <ul>
      <li>Developed the Client side architecture using Angular 5, with Rich UI Functionality.</li>
    </ul> 
    <hr />
    <h4>Description</h4>
    <ul>
      <li>Intercont is shipping company, so this project is proposed to their customer.</li>
      <li>Developed a dashboard for the customer where user can Access Account details, and their shipping history and status.</li>
    </ul> 
    </div>
  </div>
  

  <div class="card">
      <img src="img_avatar.png" alt="Synoris" style="width:100%">
      <div class="container">
        <h4><b>Synoris HR Solutions</b></h4> 
        <hr />
        <h4>Technology</h4>
      <ul>
        <li>Rest Api were developed using ASP.NET CORE 2.0</li>
        <li>Client Side architecture being developed using Angular 4</li>
      </ul> 
      <hr />
      <h4>Role</h4>
      <ul>
        <li>Developed the Client side architecture using Angular 4, with Rich UI Functionality.</li>
      </ul> 
      <hr />
      <h4>Description</h4>
      <ul>
        <li>This Web Application Provides detailing of all the Candidates stored by HR Teams.</li>  
        <li>The HR Can also Store Company Info with the Position available and requirements for Position.</li>
        <li>According to that HR are able to get the detail of the Candidate available as per requirement of Company
            automatically at One Click.</li>
      </ul> 
      </div>
    </div>

    <div class="card">
        <img src="img_avatar.png" alt="Placement" style="width:100%">
        <div class="container">
          <h4><b>Placement Services</b></h4> 
          <hr />
          <h4>Technology</h4>
        <ul>
          <li>Backened was developed using Java Servlets</li>
          <li>Client Side architecture being developed HTML,JSP</li>
        </ul> 
        <hr />
        <h4>Role</h4>
        <ul>
          <li>Developed the complete stack individually as was Academic Individual project</li>
        </ul> 
        <hr />
        <h4>Description</h4>
        <ul>
          <li>The purpose of this Web Application for Applying for Jobs Online.</li>  
          <li>It provide following facilities to:</li>
        </ul> 
        <h5>Candidate</h5>
        <ul>
          <li>Can Register and Update his Profile.</li>
          <li>Can apply for the list of Jobs available.</li>
        </ul>
        <h5>Admin</h5>
        <ul>
          <li>Can view Candidate Profile &amp; Shortlist the Candidate as per Client Company Requirement.</li>
          <li>Can Post the Jobs.</li>
        </ul>
        </div>
      </div>
    