<div class="row">

  

    
      </div>
    <div class="row">
      <div class="container">
          <div class="accordion-option">
            <h3 class="title">PROJECTS</h3>
          </div>
          <div class="clearfix"></div>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b>Intercont Freight Liners</b>
                  </a>
              </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="card">
                        <div>
                      
                            <img style="height: 300px; width: 100%; display: block;" src="https://preview.ibb.co/j5EfEd/Screenshot_3.jpg" alt="Card image">
                          <div class="container">
                           
                            <h4>Technology</h4>
                          <ul>
                            <li>Rest Api were developed using ASP.NET CORE 2.0</li>
                            <li>Client Side architecture being developed using Angular 5</li>
                          </ul> 
                          <hr />
                          <h4>Role</h4>
                          <ul>
                            <li>Developed the Client side architecture using Angular 5, with Rich UI Functionality.</li>
                          </ul> 
                          <hr />
                          <h4>Description</h4>
                          <ul>
                            <li>Intercont is shipping company, so this project is proposed to their customer.</li>
                            <li>Developed a dashboard for the customer where user can Access Account details, and their shipping history and status.</li>
                          </ul> 
                          </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <b>Synoris HR Solutions</b>
                  </a>
              </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="card">
                        <img style="height: 200px; width: 100%; display: block;" src="https://preview.ibb.co/j5EfEd/Screenshot_3.jpg" alt="Card image">
                        <div class="container">
                        
                          <h4>Technology</h4>
                        <ul>
                          <li>Rest Api were developed using ASP.NET CORE 2.0</li>
                          <li>Client Side architecture being developed using Angular 4</li>
                        </ul> 
                        <hr />
                        <h4>Role</h4>
                        <ul>
                          <li>Developed the Client side architecture using Angular 4, with Rich UI Functionality.</li>
                        </ul> 
                        <hr />
                        <h4>Description</h4>
                        <ul>
                          <li>This Web Application Provides detailing of all the Candidates stored by HR Teams.</li>  
                          <li>The HR Can also Store Company Info with the Position available and requirements for Position.</li>
                          <li>According to that HR are able to get the detail of the Candidate available as per requirement of Company
                              automatically at One Click.</li>
                        </ul> 
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <strong>Placement Services</strong>
                  </a>
              </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="card">
                        <img src="https://preview.ibb.co/mnomqJ/Untitled.png" alt="Placement" style="width:100%">
                        <div class="container">
                         
                          <h4>Technology</h4>
                        <ul>
                          <li>Backened was developed using Java Servlets</li>
                          <li>Client Side architecture being developed HTML,JSP</li>
                        </ul> 
                        <hr />
                        <h4>Role</h4>
                        <ul>
                          <li>Developed the complete stack individually as was Academic Individual project</li>
                        </ul> 
                        <hr />
                        <h4>Description</h4>
                        <ul>
                          <li>The purpose of this Web Application for Applying for Jobs Online.</li>  
                          <li>It provide following facilities to:</li>
                        </ul> 
                        <h5>Candidate</h5>
                        <ul>
                          <li>Can Register and Update his Profile.</li>
                          <li>Can apply for the list of Jobs available.</li>
                        </ul>
                        <h5>Admin</h5>
                        <ul>
                          <li>Can view Candidate Profile &amp; Shortlist the Candidate as per Client Company Requirement.</li>
                          <li>Can Post the Jobs.</li>
                        </ul>
                        </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>