<div class="row" style="margin-left: 5px;">  <h3><b>Contact Details</b></h3> 
        <div class="col-sm-6">
                        <div class="card">
                                        <div class="container">
                                        
                                          <h4>Address :</h4>
                                          <p>B/404, 4th Floor,<br>
                                                  Royal CHS, Opp Ginger Hotel,<br>
                                                  Castle Mill Thane West 400601<br>
                                          </p>
                                          <br>
                                         <p>
                                                 <b><span class="glyphicon glyphicon-phone-alt"></span></b>: +918286303127<br>
                                                 <b><span class="glyphicon glyphicon-envelope"></span></b>: mr.yadav235@gmail.com
                                         </p>
                                        </div>
                                      </div>   
        </div>
        
        <div class="col-sm-6">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true">
                        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>
                    </agm-map>
      </div>
    </div>
    <hr />
    <div class="row" style="margin-left: 5px;"><h3>Social Media Profiles</h3>
            <div class="col-sm-3">
                        <a href="https://in.linkedin.com/in/jayprakash-yadav-2b6759131" ><i class="fa fa-linkedin-square" title="Join Me Now!" style="font-size:48px;color:#283e4a"></i></a>
                </div>
            <div class="col-sm-3">
                        <a href="https://twitter.com/i_amyadav" ><i class="fa fa-twitter-square" title="Join Me Now!" style="font-size:48px;color:steelblue"></i></a>

                </div>
                <div class="col-sm-3">
                                <a href="https://github.com/mr-yadav235" ><i class="fa fa-github-square" title="Join Me Now!" style="font-size:48px;color:black"></i></a>

                        </div>
                        <div class="col-sm-3">
                                        <a href="https://plus.google.com/u/1/107712439556421391474" ><i class="fa fa-google-plus-square" title="Join Me Now!" style="font-size:48px;color:#ce4e4e"></i></a>

                                </div>


    </div>
            
                
               
