<div class="container">
    <div class="accordion-option">
      <h3 class="title">Skills</h3>
    </div>
    <div class="clearfix"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Programming Languages
          </a>
        </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
           
           
             
             <h3 style="margin-left: 20px; margin-top: 0px;">Java</h3>
             <div class="container">
               <div class="skills java">50%</div>
             
               
          </div>
          
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Frameworks
          </a>
        </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
              <h3 style="margin-left: 20px; margin-top: 0px;">Node.js</h3>
              <div class="container">
                <div class="skills node">40%</div>
              </div>
              <h3 style="margin-left: 20px; margin-top: 0px;">Express.js</h3>
              <div class="container">
                <div class="skills express">45%</div>
              </div>
              <h3 style="margin-left: 20px; margin-top: 0px;">Spring BOOT</h3>
              <div class="container">
                <div class="skills spring">50%</div>
              </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Web Developments
          </a>
        </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            
              <h3 style="margin-left: 20px; margin-top: 0px;">HTML</h3>
              <div class="container">
                <div class="skills html">60%</div>
              </div>
              <h3 style="margin-left: 20px; margin-top: 0px;">CSS</h3>
              <div class="container">
                <div class="skills css">20%</div>
              </div>
              <h3 style="margin-left: 20px; margin-top: 0px;">ANGULAR</h3>
              <div class="container">
                <div class="skills angular">60%</div>
              </div>

              <h3 style="margin-left: 20px; margin-top: 0px;">REACT</h3>
              <div class="container">
                <div class="skills react">20%</div>
              </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Scripting Languages
            </a>
          </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
               
           
             
                    <h3 style="margin-left: 20px; margin-top: 0px;">JavaScript</h3>
                    <div class="container">
                      <div class="skills js">50%</div>
                    </div>
                    <h3 style="margin-left: 20px; margin-top: 0px;">TypeScript</h3>
                    <div class="container">
                      <div class="skills ts">55%</div>
                    </div>
                    
                      
                
            </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                Databases
              </a>
            </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                  
           
             
                      <h3 style="margin-left: 20px; margin-top: 0px;">MongoDB</h3>
                      <div class="container">
                        <div class="skills mongo">30%</div>
                      </div>
                      <h3 style="margin-left: 20px; margin-top: 0px;">MySql</h3>
                      <div class="container">
                        <div class="skills mysql">40%</div>
                      </div>
                      <h3 style="margin-left: 20px; margin-top: 0px;">SQL Server Express</h3>
                      <div class="container">
                        <div class="skills msql">40%</div>
                      
                        
                   </div>
              </div>
            </div>
          </div>
    </div>
  </div>