.footer {
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #ffffff;
    color: black;
    text-align: center;
    box-sizing: border-box;
    border-color: #eeeeee;
    border: 1px solid transparent;
 }